---
id: contributions
title: Contributions | Creative Code Collective
---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% include header.html %}

  <main class="article">

    <h2 class="subtitle">Contributions</h2>

    <div>
      <p>Contributors and participants past and present:</p>
      <ul>
        <li>Sarah Ciston</li>
        <li>Katherine Yang</li>
        <li>Samir Ghosh</li>
        <li>Garrett Flynn</li>
        <li>Ada Toydemir</li>
        <li>Dazhi Zhang</li>
        <li>Jay Borgwardt</li>
        <li>Luke Fischbeck</li>
        <li>Mark Marino</li>
        <li>Brian Cantrell</li>
        <li>Todd Furmanski</li>
        <li>Emily Van Belleghem</li>
        <li>Szilvia Ruszev</li>
        <li>Fidelia Lam</li>
        <li>Ben Nicholson</li>
      </ul>
    </div>

    <div>
      <p>Partner & peer organizations:</p>
      <ul>
        <li><a href="https://www.feminist.ai/">Feminist.AI</a></li>
        <li><a href="https://tinytechzines.org/">Tiny Tech Zines</a></li>
        <li><a href="https://p5js.org/">p5.js</a></li>
        <li><a href="https://colorcoded.la/">Color Coded LA</a></li>
        <li><a href="https://womenscenterforcreativework.com/">The Women’s Center for Creative Work</a></li>
      </ul>
    </div>

    <div>
      <p>Inspirations:</p>
      <ul>
        <li><a href="https://tinytools.directory/">Tiny Tools Directory</a> by Everest Pipkin</li>
      </ul>
    </div>

    <div>
      <p>Join the list!</p>
      <p>This website is open-sourced on <a href="https://github.com/creativecodecollective/creativecodecollective.github.io">GitHub</a>, and our resource hub draws from a live <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSeEGW1VxkMnHgIIl16U_78ZrP8rvWvk66_InItIv1Riq0K2d7D6fA1jqfcBl7PZHPAQXyqofWmcJTV/pub">Google Sheet</a>. Reach out to learn how to get started!</p>
    </div>

  </main>

  {% include footer.html %}

</body>
</html>
