.action {
  display: flex;
}

#roadmap {
  background: var(--nc-bg-2);
  padding: 2rem;
  border-radius: 4px;
}

#resources {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin: 0 calc(0px - (50vw - 50%)); */
  /* padding: 0 2rem; */
}

.res {
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  border: 1px solid var(--nc-bg-3);
  border-radius: 4px;
}
  @media (min-width: 800px) {
    .res {
      width: calc(50% - 1%);
    }
  }
  /* @media (min-width: 1200px) {
    .res {
      width: calc(33% - 1%);
    }
  } */

.res-meta dd {
  display: inline-block;
}

.links {
  list-style-type: none;
  padding-left: 0;
}

.links li {
  display: inline-block;
  margin-top: 0;
}