---
id: resource-hub
title: Resource Hub | Creative Code Collective
---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% include header.html %}

  <main class="bubble3">

    <div class="container">

      <section id="roadmap" class="roadmap">
        <h2>Roadmap</h2>
        <p>Need inspiration for a new project? Or is there something specific you'd like guidance on? Use this roadmap generator to come up with ideas or find specific resources that match any of your queries!</p>
        <p>For example:</p>
        <p>I'd like to learn _____ to do _____ using _____ to make _____. </p>
        <p><b>This page is still under construction!</b></p>
        <form method="GET" id="generator">
          <div class="action">
            <label for="learn">Learn</label>
            <select name="learn" id="learn">
              <option value="" selected>anything</option>
              {% for tag in learn %}
              <option value="{{ tag }}">{{ tag }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="action">
            <label for="do">Do</label>
            <select name="do" id="do">
              <option value="" selected>anything</option>
              {% for tag in do %}
              <option value="{{ tag }}">{{ tag }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="action">
            <label for="use">Use</label>
            <select name="use" id="use">
              <option value="" selected>anything</option>
              {% for tag in use %}
              <option value="{{ tag }}">{{ tag }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="action">
            <label for="make">Make</label>
            <select name="make" id="make">
              <option value="" selected>anything</option>
              {% for tag in make %}
              <option value="{{ tag }}">{{ tag }}</option>
              {% endfor %}
            </select>
          </div>
          <button id="submitButton" type="submit">Search</button>
          <button id="randomiseButton" type="button" value="randomise">Randomise</button>
          <button id="resetButton" type="reset">Reset</button>
        </form>


      <h2>Resources</h2>
      <p>Filter by</p>
      <form id="filters" class="filter" method="get">
        <div class="filter">
          <label for="levels">Level</label>
          <select name="levels" id="levels">
            <option value="">All</option>
            {% for level in levels %}
            <option value="{{ level }}">{{ level }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="filter">
          <label for="languages">Language</label>
          <select name="languages" id="languages">
            <option value="">All</option>
            {% for language in languages %}
            <option value="{{ language }}">{{ language }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="filter">
          <label for="types">Type</label>
          <select name="types" id="types">
            <option value="">All</option>
            {% for type in types %}
            <option value="{{ type }}">{{ type }}</option>
            {% endfor %}
          </select>
        </div>
      </form>
      <!-- I think this should all be one form, one filter process, to simplify. -SARAH -->
</section>

<!-- some JS below that acts on the forms, if select.learn == processing etc -->
      <div class="resources">
        {% for resource in site.resources %}
        <article display="none" class="res"
                 data-levels="{{ resource.levels | join: ',' }}"
                 data-languages="{{ resource.languages | join: ',' }}"
                 data-types="{{ resource.types | join: ',' }}"
                 data-tags="{{ resource.tags | join: ',' }}"
                 data-learn="{{ resource.learn | join: ',' }}"
                 data-do="{{ resource.do | join: ',' }}"
                 data-use="{{ resource.use | join: ',' }}"
                 data-make="{{ resource.make | join: ',' }}">
          <h3 class="res-title"><a href="{{ resource.link }}">{{ resource.title }}</a></h3>
          <figure class="res-blurb">
            {% if resource.description %}
              <blockquote class="res-description">{{ resource.description }}</blockquote>
            {% endif %}
          </figure>
          <dt>Creator</dt><p class="res-creator">{{ resource.creator }}</p>
          <dl class="res-meta">
            <div class="res-meta-levels">
              <dt>Levels</dt>
              {% for level in resource.levels %}
              <dd>{{ level }}</dd>
              {% endfor %}
            </div>
            <div class="res-meta-languages">
              <dt>Languages</dt>
              {% for language in resource.languages %}
              <dd>{{ language }}</dd>
              {% endfor %}
            </div>
            <div class="res-meta-types">
              <dt>Types</dt>
              {% for type in resource.types %}
              <dd>{{ type }}</dd>
              {% endfor %}
            </div>
            {% if resource.learn %}
            <div class="res-meta-learn">
              <dt>Learn</dt>
                {% for tag in resource.learn %}
                <dd data-tag-action="{{ tag | split: ':' | first | join: '' }}"
                    data-tag-content="{{ tag | split: ':' | slice: 1 | join: '' }}">{{ tag }}</dd>
                {% endfor %}
            </div>
            {% endif %}
            {% if resource.do %}
            <div class="res-meta-do">
              <dt>Do</dt>
              {% for tag in resource.do %}
              <dd data-tag-action="{{ tag | split: ':' | first | join: '' }}"
                  data-tag-content="{{ tag | split: ':' | slice: 1 | join: '' }}">{{ tag }}</dd>
              {% endfor %}
            </div>
            {% endif %}
            {% if resource.use %}
            <div class="res-meta-use">
              <dt>Use</dt>
              {% for tag in resource.use %}
              <dd data-tag-action="{{ tag | split: ':' | first | join: '' }}"
                  data-tag-content="{{ tag | split: ':' | slice: 1 | join: '' }}">{{ tag }}</dd>
              {% endfor %}
            </div>
            {% endif %}
            {% if resource.make %}
            <div class="res-meta-make">
              <dt>Make</dt>
              {% for tag in resource.make %}
              <dd data-tag-action="{{ tag | split: ':' | first | join: '' }}"
                  data-tag-content="{{ tag | split: ':' | slice: 1 | join: '' }}">{{ tag }}</dd>
              {% endfor %}
            </div>
            {% endif %}
            {% if resource.tags %}
            <div class="res-meta-tags">
              <dt>Tags</dt>
              {% for tag in resource.tags %}
              <dd data-tag-action="{{ tag | split: ':' | first | join: '' }}"
                  data-tag-content="{{ tag | split: ':' | slice: 1 | join: '' }}">{{ tag }}</dd>
              {% endfor %}
            </div>
            {% endif %}
            <div class="res-contrib">
            {% if resource.contributor %}
              <figcaption class="res-contrib"><cite><dt>Community Contributor</dt> {{ resource.contributor }}</cite></figcaption>
            {% endif %}
            <div>
          </dl>
        </article>
        {% endfor %}
      </div>

    </div>

  </main>

<script>
  // "use strict"

  // add data attributes from filled-in html
  // function addDataAttrs(resources) {
  //   for (let res of resources) {
  //     let fields = res.querySelectorAll("div");
  //     for (let field of fields) {
  //       let fieldname = field.classList[0].split("-")[2];
  //       let fieldlist = [];
  //       for (let d of field.querySelectorAll("dd")) {
  //         fieldlist.push(d.textContent);
  //       }
  //       res.dataset[fieldname] = fieldlist.join("|");
  //     }
  //   }
  // }

  // update generator upon interactions
  let updateGenerator = (event) => {
    console.log('reached updateGenerator()')
    event.stopPropagation();
    let actions = event.target.form.querySelectorAll("select");

    // deal with buttons
    if (event.target.type === "submit") { // submit
      event.preventDefault();
    } else if (event.target.type === "reset") { // reset
      event.preventDefault();
      event.target.form.reset();
      for (let action of actions) {
        for (let opt of action.options) {
          opt.removeAttribute("selected");
        }
        action.options[0].setAttributeNode(document.createAttribute("selected"));
      }
    } else if (event.target.value === "randomise") {  // randomise
      for (let action of actions) {
        for (let opt of action.options) {
          opt.removeAttribute("selected");
        }
        if (action.options.length > 1) {
          let numOpt = Math.floor(Math.random() * action.options.length);
          action.options[numOpt].setAttributeNode(document.createAttribute("selected"));
        } else {
          action.options[0].setAttributeNode(document.createAttribute("selected"));
        }
      }
    }

    let resources = generateResources();
    // updateFilters(resources);
  }

  // function updateFilters(resources) {
  //   let filters = document.querySelectorAll(".filter select");
  //   for (let filter of filters) {
  //     let filterid = filter.id;
  //     let
  //     let options = filter.querySelectorAll("option:not([value=''])");
  //     options.forEach((val, i, arr) => {
  //       console.log()
  //     });
  //   }
  // }

  // generate resources based on interests and filters
  function generateResources() {
    let queries = [];

    // get actions
    let actions = document.querySelectorAll(".action select");
    for (let action of actions) {
      if (action.value) { // ignore if it's set to "anything"
        queries.push(action.value);
      }
    }

    // get filters
    let filters = document.querySelectorAll("#filter");
    for (let filter of filters) {
      if (filter.value) { // ignore if set to "all"
        queries.push(filter.value);
      }
    }

    console.log(queries);
    console.log("query made");

    let resources = document.getElementsByClassName("res");
    if (queries.length == 0) {
      for (let res of resources) {
        res.style.display = "block";
      }
    } else {
      for (let res of resources) {
        let tags = [...res.classList]; // turn into an array
        console.log(tags)
        console.log("this is where tag is empty")
        tags.splice(0, 1); // remove first "res" class name
        let matches = tags.filter(tag => {
          console.log("tag filtering happening??")
          console.log(queries.includes(tag.replace("-", ":").replace("_", " ")))
          return queries.includes(tag.replace("-", ":").replace("_", " "))
        });
        if (matches.length > 0) {
          res.style.display = "block";
        } else {
          res.style.display = "none";
        }
      }
    }

    return resources;
  }



  //issue is with how to set up the form I think
  let resources = document.getElementsByClassName("res");

  var generator = document.getElementById('generator')
  //submitButton.addEventListener("click", updateGenerator);
  //let randomiseButton = document.getElementById("randomiseButton")
  //randomiseButton.addEventListener("click", updateGenerator);
//  let resetButton = document.getElementById("resetButton")
//  resetButton.addEventListener("click", updateGenerator);

   for (let button of generator.querySelectorAll("button")) {
     button.addEventListener("click", updateGenerator);
   }

  let filterForm = document.getElementById("filters");
  // filterForm.reset();
  document.addEventListener("input", generateResources);

</script>

  {% include footer.html %}

</body>
</html>
