---
id: home
title: Home | Creative Code Collective
---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% include header.html %}

  <main class="bubble3">
    <article>
      <section>
        <h2>ABOUT THE COLLECTIVE</h2>
        <caption>"nerdy hype group" for artists exploring code</caption>
        <h3>WHY<span class="ligature">??</span></h3>
        <p>we need supportive spaces that value our diverse capacities to learn & experiment—fearlessly, creatively, critically—with code</p>
        <h3>WHAT<span class="ligature">++</span></h3>
          <ul>
            <li>workshops & project troubleshooting</li>
            <li>co-learning & co-working space</li>
            <li>online resource hub</li>
          </ul>
      <h3>INSPIRED BY<span class="ligature">&gt;&gt;</span></h3>
        <ul>
          <li>sister spit poetry tour</li>
          <li>homebrew computer club</li>
          <li>processing foundation</li>
        </ul>
      <h3>SHARED VALUES</h3>
        <ol>
          <li>scrappy artistic strategies, not perfect code</li>
          <li>growth, not perfection</li>
          <li>open-source attitude: community, not competition</li>
          <li>we all have skills to teach each other</li>
          <li>all practice is theory–practice</li>
          <li>project-based co-learning</li>
          <li>learn–make–imagine simultaneously & recursively</li>
          <li>creativity as collaborative wayfinding (ouija)</li>
        </ol>
      </section>
      <section>
        <h2>WHAT WE DO</h2>
        <h3>SOME GUEST WORKSHOPS IN THE PAST</h3>
        <ul>
          <li>Feminist.AI</li>
          <li>Machine Learning Tactics for Artists</li>
          <li>Getting Started with ML5.js</li>
          <li>Shaders for Scaredy Cats</li>
          <li>Movement-Based Interaction Design</li>
          <li>Coding for Live Performance</li>
        </ul>
        <h3>SOME CURRENT IDEAS</h3>
        <ul>
          <li>WebVR with Mozilla Hubs</li>
          <li>Hydra/p5.js exquisite corpse algo-rave</li>
          <li>Remixing videos using command line tools</li>
          <li>Discussing design and typographical aesthetics of code</li>
          <li>Discussing the codification of color</li>
          <li>Discussing internet histories</li>
          <li><a href="resource-hub/">Code resource hub-in progress</a></li>
        </ul>
      </section>
    </article>
  </main>

  {% include footer.html %}

</body>
</html>