<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ page.title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/assets/css/magpie.css">
  <link rel="icon" href="/assets/img/logo/line-color.svg">
</head>

<body>

  {% include header.html %}

  <main class="article">
    
      {{ content }}
    
  </main>

  {% include footer.html %}

</body>
</html>
