<footer class="bubble4">
  <div class="footer-container">
    <section>
      <h2>COME JOIN US!</h2>
      <p>We meet on video chat at 5–7 pm Pacific Time on Wednesdays, and/or you can join us on Discord! Reach out and we’ll gladly send those links your way.</p>
    </section>
    <section>
      <h2>LEARN MORE</h2>
      <p>Email: <a href="mailto:ciston@usc.edu">ciston at usc dot edu</a></p>
      <p>Instagram: <a href="https://instagram.com/creativecodecollective">@creativecodecollective</a></p>
    </section>
    <section>
      <h2>COLOPHON</h2>
      <p>This website is a work in progress and is made possible through borrowing from the works of these people.</p>
      <p>The design and code for these section dividers were taken from <a href="https://codepen.io/rinaw/pen/pGxorQ">this pen</a>, created by <a href="https://codepen.io/rinaw">rinaw</a>.</p>
      <p>Headings are set in <a href="http://www.nmtype.com/movement/">Movement</a> by Noel Pretorius and Mariá Ramos, via <a href="https://www.design-research.be/by-womxn/">Badass Libre Fonts by Womxn</a>. Movement is a variable font inspired by dance movements. Creative Commons license CC BY-ND 4.0.</p>
      <p>Body text is set in <a href="https://github.com/tonsky/FiraCode">Fira Code</a> by Nikita Prokopov. Fira Code is a monospace font with programming ligatures and extensive support for textual graphics. SIL Open Font License 1.1.</p>
      <p>Creative Code Collective, 2020.</p>
    </section>
  </div>
</footer>