<footer class="footer">
  <!-- <div class="footer-container"> -->
    <div>
      <h2>COME JOIN US!</h2>
      <!-- <p>As of Fall 2023, we’re meeting online first and third Tuesdays, 10a–12p Pacific Time — DM us for the link!</p> -->
       <p>Join the Discord! Email Sarah Ciston or Samir Ghosh for a link.</p>
      <p>Santa Cruz community -- We meet at UC Santa Cruz on first and third Mondays, 3pm at <a href="https://slugworks.engineering.ucsc.edu/">Slugworks</a>.</p>
    </div>
    <div>
      <h2>LEARN MORE</h2>
      <p>Email: <a href="mailto:ciston@usc.edu">ciston at usc dot edu</a></p>
      <p>Email: <a href="mailto:samirghosh@usc.edu">samirghosh at ucsc dot edu</a></p>
      <p>Instagram: <a href="https://instagram.com/creativecodecollective">@creativecodecollective</a></p>
    </div>
    <div>
      <h2>COLOPHON</h2>
      <p>This website is a work in progress and is made possible through borrowing from the works of these people.</p>
      <p>Headings are set in <a href="http://www.nmtype.com/movement/">Movement</a> by Noel Pretorius and Mariá Ramos, via <a href="https://www.design-research.be/by-womxn/">Badass Libre Fonts by Womxn</a>. Movement is a variable font inspired by dance movements. Creative Commons license CC BY-ND 4.0.</p>
      <p>Body text is set in <a href="https://github.com/tonsky/FiraCode">Fira Code</a> by Nikita Prokopov. Fira Code is a monospace font with programming ligatures and extensive support for textual graphics. SIL Open Font License 1.1.</p>
      <p>Creative Code Collective, 2021.</p>
    </div>
  <!-- </div> -->
</footer>
