<head>
  <title>{{ page.title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css">
  <link rel="stylesheet" href="/assets/css/bubbles.css">
  <link rel="stylesheet" href="/assets/css/styles.css">

  <!-- <script src="../assets/js/scripts.js" type="text/javascript" /> -->

  {% if page.id == "resource-hub" %}
    {% include collect-tags.html %}
  {% endif %}
</head>
