/**
 * FONTS
 */

@font-face {
  font-family: "Movement";
  src: url("/assets/fonts/MovementV.ttf") format("truetype-variations");
}

/**
 * GENERAL
 */

*,
*::,
*::after {
	box-sizing: border-box;
}

body {
	/*background: linear-gradient(to right bottom, #759FDC, #D18DEC);*/
	font-family: "Fira Code VF", monospace;
	margin: 0;
}

a {
	color: red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Movement", sans-serif;
	font-variation-settings: "wght" 600, "SPAC" 900;
}

div > h1,
div > h2,
div > h3,
div > h4,
div > h5,
div > h6 {
	margin-top: 0;
}

/**
 * HEADER AND FOOTER
 */

.header {
	display: flex;
	padding: 50px;
	justify-content: space-between;
	align-items: center;
	/*background: linear-gradient(to right bottom, #759FDC, #D18DEC);*/
}

.title-n-logo {
	display: flex;
	align-items: center;
	gap: 25px;
}

.logo {
	width: 100px;
	height: 100px;
}

.logo #magpie {
	transition: 0.2s ease-in-out transform;
}

.logo:hover #magpie {
	transform: translate(60px, -40px) rotate(15deg);
}

.title {
	color: black;
	text-decoration: none;
}

.title h1 {
	transition: 0.2s ease-in-out font-variation-settings;
}

.title:hover h1 {
	font-variation-settings: "wght" 900, "SPAC" 200;
}

.links {
	display: flex;
	list-style-type: none;
	padding: 0;
	gap: 25px;
}

.footer {
	display: grid;
	grid-template-columns: 25% 25% 50%;
	padding: 50px;
	align-items: flex-start;
	/*gap: 50px;*/
}

.footer div {
	margin: 50px;
}

/**
 * MAIN
 */

main {
	margin: 50px;
}

.article > div {
	max-width: 650px;
	margin: 100px auto;
}

/**
 * RESOURCE HUB
 */

.subtitle {
	text-align: center;
	font-size: 2em;
}

.roadmap {
	margin: 50px auto;
	background: linear-gradient(to right bottom, #759FDC, #D18DEC);
	max-width: 650px;
	padding: 50px;
	border-radius: 50px;
	box-shadow: 5px 5px 20px 10px rgba(117, 159, 220, 0.2);
}

#resources {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.res {
	border-radius: 50px;
	margin: 25px;
	background-color: white;
	padding: 50px;
	transition: 0.25s ease-in-out box-shadow;
	font-size: 0.9em;
	box-shadow: 2px 5px 10px rgba(117, 159, 220, 0.1);;
	display: none;
}

.res--visible {
	display: block;
}

.res:hover {
	box-shadow: 2px 5px 20px rgba(117, 159, 220, 0.2);
}

.res-title {
	text-decoration: none;
}

.res-title h3 {
	margin-top: 0;
	font-size: 2em;
}